body{
  color: #555;
}

h2{
  font-size: 105%; border-bottom: 1px solid #555;
  padding: 0 0 6px 0; margin-bottom: 10px; margin-top: 30px;
}

p{
  font-size: 90%;
  line-height: 1.2em;
  margin-bottom: 6px;
}

li{
  font-size: 80%; border: 1px solid #555;
  display: inline-block;
  margin: 0 6px 6px 0; padding: 6px;
  cursor:pointer;
}

input{
  color: #555;
  border: 1px solid #555;
}

#player_list, #selectList{
  margin: 20px 0 20px;
}

.p_list{
  margin: 0 0 20px;
}
