.main_area{
  width: 94%;
  margin: 20px auto 0;
}

table {
  margin: 0 0 20px;
  border-top: solid 1px #D3D2D1;
  font-size: 13px;
}
tr {
  border-bottom: solid 1px #D3D2D1;
  border-left: solid 1px #D3D2D1;
  width: 620px;
}
th {
  border-right: solid 1px #D3D2D1;
  background-color: #FAFAFA;
}
th, td {
  width: 10%;
  padding: 10px;
  border-right: solid 1px #D3D2D1;
}

@media screen and (max-width: 639px){
  label{
    display: block;
    margin: 0 0 10px;
  }
  input{
    width: 100%;
    height: 24px;
    border: solid 1px #D3D2D1;
    margin: 0 0 10px;
    font-size: 14px;
  }
}
